.content-container {
  border-bottom: 1px solid $border-color;
  margin: 0 auto;
  // padding: 0 $m-size;
  margin-top: 80px; // So the fixed header bar won't conceal the content
  max-width: 80rem;
  z-index: -1;
}