// Styling for both AddExpenseForm and EditExpenseForm
// .form {
//   display: flex;
//   flex-direction: column;
// }

.button-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: $l-size 0;
}

.button--remove {
  border: none;
  color: $login-btn-color;
  font-size: $l-font;
  margin-top: $l-size;
  text-decoration: underline;
}

.button--remove:hover {
  color: darken($login-btn-color, 20%);
}

// Doing this prevents calendar from showing up  
// .DateRangePicker, .SingleDatePicker {
//   position: relative;
//   z-index: -1;
// }

.form__error {
  font-style: italic;
  margin-bottom: $m-size; 
}

@media (min-width: $desktop-breakpoint) {
  .button-group {
    flex-direction: row;  
  }

  .button--remove {
    margin: 0 0 0 $m-size;
  }
}